.App {
    height: 100vh;
}

.mainButtonMatrix {
    background-color: #424242;
    height: 100%;
    width: 75%;
}

.sideButtonMatrix {
    background-color: #616161;
    height: 100%;
    width: 25%;
}

.buttons {
    display: flex;
    height: 70%;
    width: 100%;
}

.screen {
    width: 100%;
    height: 30%;
    background-color: white;
    color: #9E9E9E;
}

.buttonRow {
    width: 100%;
    display: flex;
}

.screenSpaceLine {
    width: 100%;
    height: 32%;
}

.screenMainLine {
    height: 36%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 8.5vh;
    overflow: hidden;
    padding: 0 2%;
}

.screenSecondLine {
    height: 32%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 5vh;
    padding: 0 2%;
}
