.App {
    height: 500px;
}

.mainButtonMatrix {
    background-color: #424242;
    height: 100%;
    width: 80%;
}

.sideButtonMatrix {
    background-color: #616161;
    height: 100%;
    width: 20%;
}

.buttons {
    display: flex;
    height: 60%;
    width: 100%;
}

.screen {
    width: 100%;
    height: 40%;
    background-color: white;
    color: #9E9E9E;
}

.buttonRow {
    width: 100%;
    display: flex;
}

.screenSpaceLine {
    width: 100%;
    height: 35%;
}

.screenMainLine {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 38px;
}

.screenSecondLine {
    width: 100%;
    height: 35%;
}
